.menu {
    -fx-text-fill: #3c4148;
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
}

.menu:hover {
    -fx-background-color: #f1d338;
    -fx-cursor: hand;
}

/* Tree view */
.tree-view {
    -fx-font: 13px system;
}

.tree-view:selected {
    -fx-border-color: white;
}

.tree-cell:selected {
    -fx-border-color: white;
    -fx-background-color: #efefef;
    -fx-text-fill: black;
    -fx-background-insets: 1;
}

.tree-cell:focus {
    -fx-border-color: white;
    -fx-background-color: #efefef;
    -fx-text-fill: black
}


.tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #3c4148;
}

/* Combobox */
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #f1d338;
    -fx-text-fill: black
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #f1d338;
    -fx-text-fill: black
}

.shaking {
    -fx-font-weight: bolder;
}

/* Waiting alert activator */
.shaking:hover {
    -fx-font-weight: bolder;
    -fx-background-color: #d7a63f;
    -fx-text-fill: white;
}